@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <h2><span>Mu.NET v2 //</span> @ViewBag.Title</h2>
    </section>
}

@section content {
<ul id="general_news">
    <li>
        <div class="image"><a href="#"><img alt="alt_example" src="~/Content/themes/orizon/images/media/full/1.jpg" /></a></div>
        <ul class="social_share">
            <li><a href="#"><img alt="alt_example" src="~/Content/themes/orizon/images/fbk.png" border="0" /></a></li>
            <li><a href="#"><img alt="alt_example" src="~/Content/themes/orizon/images/twitter.png" border="0" /></a></li>
            <li><a href="#"><img alt="alt_example" src="~/Content/themes/orizon/images/more.png" border="0" /></a></li>
        </ul>
        <div class="info">
            <div class="comments"> 18 </div>
            <h2><a href="#">Test news 1!</a></h2>
            <div class="date_n_author">12 July 2014, by Admin</div>
            <p>Integer tincidunt tellus ut metus viverra ac sodales odio vulputate. Ut id erat neque, sit amet tristique erat. Vivamus in turpis orci, et volutpat purus. Vestibulum lacinia, arcu id varius eleifend, eros lorem iaculis massa, vitae consequat enim diam eget massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam ultrices viverra consectetur. Sed eget massa augue. Suspendisse urna lectus.</p>
            <a href="#" class="read_more2">read more</a>
        </div>
        <div class="clear">
        </div>

    </li>
    <li>
        <div class="image"><a href="#"><img alt="alt_example" src="~/Content/themes/orizon/images/media/full/1.jpg" /></a></div>
        <ul class="social_share">
            <li><a href="#"><img alt="alt_example" src="~/Content/themes/orizon/images/fbk.png" border="0" /></a></li>
            <li><a href="#"><img alt="alt_example" src="~/Content/themes/orizon/images/twitter.png" border="0" /></a></li>
            <li><a href="#"><img alt="alt_example" src="~/Content/themes/orizon/images/more.png" border="0" /></a></li>
        </ul>
        <div class="info">
            <div class="comments"> 18 </div>
            <h2><a href="#">Test news 2!</a></h2>
            <div class="date_n_author">12 July 2014, by Admin</div>
            <p>Integer tincidunt tellus ut metus viverra ac sodales odio vulputate. Ut id erat neque, sit amet tristique erat. Vivamus in turpis orci, et volutpat purus. Vestibulum lacinia, arcu id varius eleifend, eros lorem iaculis massa, vitae consequat enim diam eget massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam ultrices viverra consectetur. Sed eget massa augue. Suspendisse urna lectus.</p>
            <a href="#" class="read_more2">read more</a>
        </div>
        <div class="clear"></div>
    </li>
    <li>
        <div class="image"><a href="#"><img alt="alt_example" src="~/Content/themes/orizon/images/media/full/1.jpg" /></a></div>
        <ul class="social_share">
            <li><a href="#"><img alt="alt_example" src="~/Content/themes/orizon/images/fbk.png" border="0" /></a></li>
            <li><a href="#"><img alt="alt_example" src="~/Content/themes/orizon/images/twitter.png" border="0" /></a></li>
            <li><a href="#"><img alt="alt_example" src="~/Content/themes/orizon/images/more.png" border="0" /></a></li>
        </ul>
        <div class="info">
            <div class="comments"> 18 </div>
            <h2><a href="#">Test news 3</a></h2>
            <div class="date_n_author">12 July 2014, by Admin</div>
            <p>Integer tincidunt tellus ut metus viverra ac sodales odio vulputate. Ut id erat neque, sit amet tristique erat. Vivamus in turpis orci, et volutpat purus. Vestibulum lacinia, arcu id varius eleifend, eros lorem iaculis massa, vitae consequat enim diam eget massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam ultrices viverra consectetur. Sed eget massa augue. Suspendisse urna lectus.</p>
            <a href="#" class="read_more2">read more</a>
        </div>
        <div class="clear"></div>
    </li>
</ul>
<ul id="pager">
    <li><a href="#"><img alt="alt_example" src="~/Content/themes/orizon/images/left_pager.jpg" border="0" /></a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#" class="active">3</a></li>
    <li><a href="#"><img alt="alt_example" src="~/Content/themes/orizon/images/right_pager.jpg" border="0" /></a></li>
</ul>
}
    
    Empty Body

<div class="clear"></div>

